<section class="company">
    <div class="company__content">
        <div>
            <button mat-stroked-button color="primary" class="company__content--back" routerLink="/admin"><mat-icon>arrow_back</mat-icon>{{ 'auth.back.button' | translate | uppercase }}</button>
        </div>
        <div class="company__content--form-container">
            <span class="title">{{ 'admin.company' | translate }}</span>
            <span class="sub-title">{{ 'admin.company.pub.name' | translate }}</span>
            <div class="company-name-container">
                <mat-form-field appearance="outline">
                    <mat-label>{{ 'login.company.name' | translate }}</mat-label>
                    <input matInput [formControl]="companyName">
                    <mat-error>{{ 'register.error.required' | translate }}</mat-error>
                </mat-form-field>
                <div class="company-name-container__actions" *ngIf="showCompanyButtons()">
                    <button mat-stroked-button color="primary" class="company-name-container__actions--stroked" (click)="cancelCompanyChange()">{{ 'register.cancel' | translate | uppercase }}</button>
                    <button mat-raised-button color="primary" class="company-name-container__actions--raised" (click)="saveCompanyChange()">{{ 'admin.profile.save' | translate | uppercase }}</button>
                </div>
            </div>
            <span class="sub-title">{{ 'pubs.space' | translate }}</span>
            <div class="space-number-container">
                <span class="space-number-container__numbers">{{ pub?.space - currentSpace }}/{{ pub?.space }}</span>
                <div class="space-number-container__tables">
                    <div class="space-number-container__tables--person-card" *ngFor="let table of tables" (click)="chooseTable(table)" [ngClass]="{'normal': !table.reserved, 'active': activeTable == table, 'disabled': table.reserved}">
                        <div class="reserved" *ngIf="table.reserved">
                            <span>{{ 'pubs.reserved' | translate }}</span>
                        </div>
                        <img *ngIf="table.persons == 2" src="assets/images/2_person.png">
                        <img *ngIf="table.persons == 4" src="assets/images/4_person.png">
                        <span *ngIf="table.persons == 2">{{ 'pubs.two.person' | translate }}</span>
                        <span *ngIf="table.persons == 4">{{ 'pubs.four.person' | translate }}</span>
                    </div>
                </div>
                <div class="space-number-container__actions" *ngIf="activeTable != null">
                    <button class="space-number-container__actions--stroked" mat-stroked-button color="primary" (click)="cancelChooseTable()">{{ 'register.cancel' | translate | uppercase }}</button>
                    <button class="space-number-container__actions--raised" mat-raised-button color="primary" (click)="saveChooseTable()">{{ 'admin.profile.save' | translate | uppercase }}</button>
                </div>
            </div>
            <span class="sub-title">{{ 'register.images.from.pubs' | translate }}</span>
            <span class="image-description">{{ 'register.images.text' | translate }}</span>
            <span class="image-description-max">{{ 'register.images.text.max' | translate }}</span>
            <div class="image-upload">
                <div class="image-upload__image-card" matRipple (click)="fileInput1.click()">
                    <div class="image-upload__image-card--container" *ngIf="!imgURL1">
                        <mat-icon color="primary">add_photo_alternate</mat-icon>
                        <span>{{ 'register.image.upload' | translate }}</span>
                    </div>
                    <img *ngIf="imgURL1" [src]="imgURL1">
                    <input class="image-upload__image-card--image-input" type="file" #fileInput1 (change)="preview(fileInput1.files, 1)"/>
                </div>
                <div class="image-upload__image-card" matRipple (click)="fileInput2.click()">
                    <div class="image-upload__image-card--container" *ngIf="!imgURL2">
                        <mat-icon color="primary">add_photo_alternate</mat-icon>
                        <span>{{ 'register.image.upload' | translate }}</span>
                    </div>
                    <img *ngIf="imgURL2" [src]="imgURL2">
                    <input class="image-upload__image-card--image-input" type="file" #fileInput2 (change)="preview(fileInput2.files, 2)"/>
                </div>
                <div class="image-upload__image-card" matRipple (click)="fileInput3.click()">
                    <div class="image-upload__image-card--container" *ngIf="!imgURL3">
                        <mat-icon color="primary">add_photo_alternate</mat-icon>
                        <span>{{ 'register.image.upload' | translate }}</span>
                    </div>
                    <img *ngIf="imgURL3" [src]="imgURL3">
                    <input class="image-upload__image-card--image-input" type="file" #fileInput3 (change)="preview(fileInput3.files, 3)"/>
                </div>
            </div>
            <div class="image-upload-actions" *ngIf="showImageButtons()">
                <button mat-stroked-button color="primary" class="image-upload-actions__stroked" (click)="cancelImageUpload()">{{ 'register.cancel' | translate }}</button>
                <button mat-raised-button color="primary" class="image-upload-actions__raised" (click)="imageUpload()">{{ 'admin.profile.save' | translate }}</button>
            </div>
            <span class="sub-title">{{ 'register.table.number' | translate }}</span>
            <span class="image-description">{{ 'register.table.number.description' | translate }}</span>
            <form [formGroup]="tableForm" class="table-container">
                <div class="table-container__column">
                    <mat-form-field appearance="outline">
                        <mat-label>{{ 'register.two.person.table' | translate }}</mat-label>
                        <input matInput type="number" formControlName="twoPerson">
                        <mat-error>{{ 'register.error.required' | translate }}</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>{{ 'register.four.person.table' | translate }}</mat-label>
                        <input matInput type="number" formControlName="fourPerson">
                        <mat-error>{{ 'register.error.required' | translate }}</mat-error>
                    </mat-form-field>
                </div>
                <div class="table-container__actions" *ngIf="showTableButtons()">
                    <button mat-stroked-button color="primary" class="company-name-container__actions--stroked" (click)="cancelTableChange()">{{ 'register.cancel' | translate | uppercase }}</button>
                    <button mat-raised-button color="primary" class="company-name-container__actions--raised" (click)="saveTableChange()">{{ 'admin.profile.save' | translate | uppercase }}</button>
                </div>
            </form>
            <mat-tab-group class="description">
                <mat-tab [label]="'pubs.description' | translate">
                    <div class="empty"></div>
                    <div class="description__description">
                        <span class="description__description--sub-title">{{ 'register.description.from.pubs' | translate }}</span>
                        <mat-form-field appearance="outline">
                            <mat-label>{{ 'register.description' | translate }}</mat-label>
                            <textarea matInput type="text" [formControl]="description"></textarea>
                            <mat-error>{{ 'register.error.required' | translate }}</mat-error>
                        </mat-form-field>
                        <div class="actions" *ngIf="showDescriptionButtons()">
                            <button mat-stroked-button color="primary" class="actions__stroked" (click)="cancelDescriptionChange()">{{ 'register.cancel' | translate | uppercase }}</button>
                            <button mat-raised-button color="primary" class="actions__raised" (click)="saveDescriptionChange()">{{ 'admin.profile.save' | translate | uppercase }}</button>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab [label]="'pubs.menu' | translate">
                    <div class="empty"></div>
                    <div class="description__menu">
                        <span class="description__menu--title">{{ 'admin.company.menu.title' | translate }}</span>
                        <span class="description__menu--title description__menu--margin">{{ 'admin.company.menu.aperitiv' | translate }}</span>
                        <div class="description__menu--card description__menu--row mat-elevation-z4" *ngFor="let aperitiv of aperitivMenu; let index = index">
                            <span>{{ aperitiv.name }}</span>
                            <span>{{ aperitiv.size }} g</span>
                            <span>{{ aperitiv.price }} Ron</span>
                            <span>{{ aperitiv.make }}</span>
                            <button mat-icon-button color="warn" (click)="deleteAperitiv(index)"><mat-icon>delete</mat-icon></button>
                        </div>
                        <div class="description__menu--card mat-elevation-z4" *ngIf="newAperitiv">
                            <form [formGroup]="aperitivForm">
                                <div class="row">
                                    <mat-form-field appearance="outline" class="row__long">
                                        <mat-label>{{ 'admin.company.menu.aperitiv.name' | translate }}</mat-label>
                                        <input matInput type="text" formControlName="name">
                                        <mat-error>{{ 'register.error.required' | translate }}</mat-error>
                                    </mat-form-field>
                                    <mat-form-field appearance="outline" class="row__short">
                                        <mat-label>{{ 'admin.company.menu.gramm' | translate }}</mat-label>
                                        <input matInput type="text" formControlName="size" (input)="justNumbersForAperitivSize($event)">
                                        <mat-error>{{ 'register.error.required' | translate }}</mat-error>
                                    </mat-form-field>
                                    <mat-form-field appearance="outline" class="row__short">
                                        <mat-label>{{ 'admin.company.menu.price' | translate }}</mat-label>
                                        <input matInput type="text" formControlName="price" (input)="justNumbersForAperitivPrice($event)">
                                        <mat-error>{{ 'register.error.required' | translate }}</mat-error>
                                    </mat-form-field>
                                </div>
                                <mat-form-field appearance="outline" class="long">
                                    <mat-label>{{ 'admin.company.menu.make' | translate }}</mat-label>
                                    <textarea matInput type="text" formControlName="make"></textarea>
                                    <mat-error>{{ 'register.error.required' | translate }}</mat-error>
                                </mat-form-field>
                            </form>
                            <div class="actions">
                                <button class="actions__stroked" mat-stroked-button color="primary" (click)="cancelAperitiv()">{{ 'register.cancel' | translate | uppercase }}</button>
                                <button class="actions__raised" mat-raised-button color="primary" (click)="saveAperitiv()" [disabled]="aperitivForm.invalid">{{ 'admin.profile.save' | translate | uppercase }}</button>
                            </div>
                        </div>
                        <div class="description__menu--button" *ngIf="!newAperitiv">
                            <button mat-stroked-button color="primary" (click)="newAperitiv = true"><mat-icon>add</mat-icon><span>{{ 'admin.company.menu.add.aperitiv' | translate | uppercase }}</span></button>
                        </div>
                        <span class="description__menu--title description__menu--margin">{{ 'admin.company.menu.main.menu' | translate }}</span>
                        <div class="description__menu--card description__menu--row mat-elevation-z4" *ngFor="let main of mainMenu; let index = index">
                            <span>{{ main.name }}</span>
                            <span>{{ main.size }} g</span>
                            <span>{{ main.price }} Ron</span>
                            <span>{{ main.make }}</span>
                            <button mat-icon-button color="warn" (click)="deleteMain(index)"><mat-icon>delete</mat-icon></button>
                        </div>
                        <div class="description__menu--card mat-elevation-z4" *ngIf="newMainMenu">
                            <form [formGroup]="mainMenuForm">
                                <div class="row">
                                    <mat-form-field appearance="outline" class="row__long">
                                        <mat-label>{{ 'admin.company.menu.aperitiv.name' | translate }}</mat-label>
                                        <input matInput type="text" formControlName="name">
                                        <mat-error>{{ 'register.error.required' | translate }}</mat-error>
                                    </mat-form-field>
                                    <mat-form-field appearance="outline" class="row__short">
                                        <mat-label>{{ 'admin.company.menu.gramm' | translate }}</mat-label>
                                        <input matInput type="text" formControlName="size" (input)="justNumbersForMainSize($event)">
                                        <mat-error>{{ 'register.error.required' | translate }}</mat-error>
                                    </mat-form-field>
                                    <mat-form-field appearance="outline" class="row__short">
                                        <mat-label>{{ 'admin.company.menu.price' | translate }}</mat-label>
                                        <input matInput type="text" formControlName="price" (input)="justNumbersForMainPrice($event)">
                                        <mat-error>{{ 'register.error.required' | translate }}</mat-error>
                                    </mat-form-field>
                                </div>
                                <mat-form-field appearance="outline" class="long">
                                    <mat-label>{{ 'admin.company.menu.make' | translate }}</mat-label>
                                    <textarea matInput type="text" formControlName="make"></textarea>
                                    <mat-error>{{ 'register.error.required' | translate }}</mat-error>
                                </mat-form-field>
                            </form>
                            <div class="actions">
                                <button class="actions__stroked" mat-stroked-button color="primary" (click)="cancelMainMenu()">{{ 'register.cancel' | translate | uppercase }}</button>
                                <button class="actions__raised" mat-raised-button color="primary" (click)="saveMainMenu()" [disabled]="mainMenuForm.invalid">{{ 'admin.profile.save' | translate | uppercase }}</button>
                            </div>
                        </div>
                        <div class="description__menu--button" *ngIf="!newMainMenu">
                            <button mat-stroked-button color="primary" (click)="newMainMenu = true"><mat-icon>add</mat-icon><span>{{ 'admin.company.menu.add.main.menu' | translate | uppercase }}</span></button>
                        </div>
                        <span class="description__menu--title description__menu--margin">{{ 'admin.company.menu.dessert' | translate }}</span>
                        <div class="description__menu--card description__menu--row mat-elevation-z4" *ngFor="let desert of desertMenu; let index = index">
                            <span>{{ desert.name }}</span>
                            <span>{{ desert.size }} g</span>
                            <span>{{ desert.price }} Ron</span>
                            <span>{{ desert.make }}</span>
                            <button mat-icon-button color="warn" (click)="deleteDesert(index)"><mat-icon>delete</mat-icon></button>
                        </div>
                        <div class="description__menu--card mat-elevation-z4" *ngIf="newDessert">
                            <form [formGroup]="desertForm">
                                <div class="row">
                                    <mat-form-field appearance="outline" class="row__long">
                                        <mat-label>{{ 'admin.company.menu.aperitiv.name' | translate }}</mat-label>
                                        <input matInput type="text" formControlName="name">
                                        <mat-error>{{ 'register.error.required' | translate }}</mat-error>
                                    </mat-form-field>
                                    <mat-form-field appearance="outline" class="row__short">
                                        <mat-label>{{ 'admin.company.menu.gramm' | translate }}</mat-label>
                                        <input matInput type="text" formControlName="size" (input)="justNumbersForDesertSize($event)">
                                        <mat-error>{{ 'register.error.required' | translate }}</mat-error>
                                    </mat-form-field>
                                    <mat-form-field appearance="outline" class="row__short">
                                        <mat-label>{{ 'admin.company.menu.price' | translate }}</mat-label>
                                        <input matInput type="text" formControlName="price" (input)="justNumbersForDesertPrice($event)">
                                        <mat-error>{{ 'register.error.required' | translate }}</mat-error>
                                    </mat-form-field>
                                </div>
                                <mat-form-field appearance="outline" class="long">
                                    <mat-label>{{ 'admin.company.menu.make' | translate }}</mat-label>
                                    <textarea matInput type="text" formControlName="make"></textarea>
                                    <mat-error>{{ 'register.error.required' | translate }}</mat-error>
                                </mat-form-field>
                            </form>
                            <div class="actions">
                                <button class="actions__stroked" mat-stroked-button color="primary" (click)="cancelDessert()">{{ 'register.cancel' | translate | uppercase }}</button>
                                <button class="actions__raised" mat-raised-button color="primary" (click)="saveDessert()" [disabled]="desertForm.invalid">{{ 'admin.profile.save' | translate | uppercase }}</button>
                            </div>
                        </div>
                        <div class="description__menu--button" *ngIf="!newDessert">
                            <button mat-stroked-button color="primary" (click)="newDessert = true"><mat-icon>add</mat-icon><span>{{ 'admin.company.menu.add.dessert' | translate | uppercase }}</span></button>
                        </div>
                        <span class="description__menu--title description__menu--margin">{{ 'admin.company.menu.drink' | translate }}</span>
                        <div class="description__menu--card description__menu--row mat-elevation-z4" *ngFor="let drink of drinkMenu; let index = index">
                            <span>{{ drink.name }}</span>
                            <span>{{ drink.size }} g</span>
                            <span>{{ drink.price }} Ron</span>
                            <button mat-icon-button color="warn" (click)="deleteDrink(index)"><mat-icon>delete</mat-icon></button>
                        </div>
                        <div class="description__menu--card mat-elevation-z4" *ngIf="newDrink">
                            <form [formGroup]="drinkForm">
                                <div class="row">
                                    <mat-form-field appearance="outline" class="row__long">
                                        <mat-label>{{ 'admin.company.menu.aperitiv.name' | translate }}</mat-label>
                                        <input matInput type="text" formControlName="name">
                                        <mat-error>{{ 'register.error.required' | translate }}</mat-error>
                                    </mat-form-field>
                                    <mat-form-field appearance="outline" class="row__short">
                                        <mat-label>{{ 'admin.company.menu.milli' | translate }}</mat-label>
                                        <input matInput type="text" formControlName="size" (input)="justNumbersForDrinkSize($event)">
                                        <mat-error>{{ 'register.error.required' | translate }}</mat-error>
                                    </mat-form-field>
                                    <mat-form-field appearance="outline" class="row__short">
                                        <mat-label>{{ 'admin.company.menu.price' | translate }}</mat-label>
                                        <input matInput type="text" formControlName="price" (input)="justNumbersForDrinkPrice($event)">
                                        <mat-error>{{ 'register.error.required' | translate }}</mat-error>
                                    </mat-form-field>
                                </div>
                            </form>
                            <div class="actions">
                                <button class="actions__stroked" mat-stroked-button color="primary" (click)="cancelDrink()">{{ 'register.cancel' | translate | uppercase }}</button>
                                <button class="actions__raised" mat-raised-button color="primary" (click)="saveDrink()" [disabled]="drinkForm.invalid">{{ 'admin.profile.save' | translate | uppercase }}</button>
                            </div>
                        </div>
                        <div class="description__menu--button" *ngIf="!newDrink">
                            <button mat-stroked-button color="primary" (click)="newDrink = true"><mat-icon>add</mat-icon><span>{{ 'admin.company.menu.add.drink' | translate | uppercase }}</span></button>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab [label]="'pubs.open.state' | translate">
                    <div class="empty"></div>
                    <div class="description__open-state">
                        <span class="description__open-state--title">{{ 'admin.company.open.state' | translate }}</span>
                        <form [formGroup]="dateForm" class="description__open-state--open-state">
                            <div class="row">
                                <span class="days">{{ 'register.open.state.monday' | translate }}</span>
                                <mat-slide-toggle color="primary" formControlName="openStateMonday" (change)="disableTimeInput('Monday')"></mat-slide-toggle>
                                <span class="gray" *ngIf="dateForm.controls.openStateMonday.value">{{ 'register.open.state.open' | translate }}</span>
                                <span class="gray" *ngIf="!dateForm.controls.openStateMonday.value">{{ 'register.open.state.close' | translate }}</span>
                                <input type="time" formControlName="startingHourMonday">
                                <span class="line">-</span>
                                <input type="time" formControlName="endingHourMonday">
                            </div>
                            <div class="row">
                                <span class="days">{{ 'register.open.state.tuesday' | translate }}</span>
                                <mat-slide-toggle color="primary" formControlName="openStateTuesday" (change)="disableTimeInput('Tuesday')"></mat-slide-toggle>
                                <span class="gray" *ngIf="dateForm.controls.openStateTuesday.value">{{ 'register.open.state.open' | translate }}</span>
                                <span class="gray" *ngIf="!dateForm.controls.openStateTuesday.value">{{ 'register.open.state.close' | translate }}</span>
                                <input type="time" formControlName="startingHourTuesday">
                                <span class="line">-</span>
                                <input type="time" formControlName="endingHourTuesday">
                            </div>
                            <div class="row">
                                <span class="days">{{ 'register.open.state.wednesday' | translate }}</span>
                                <mat-slide-toggle color="primary" formControlName="openStateWednesday" (change)="disableTimeInput('Wednesday')"></mat-slide-toggle>
                                <span class="gray" *ngIf="dateForm.controls.openStateWednesday.value">{{ 'register.open.state.open' | translate }}</span>
                                <span class="gray" *ngIf="!dateForm.controls.openStateWednesday.value">{{ 'register.open.state.close' | translate }}</span>
                                <input type="time" formControlName="startingHourWednesday">
                                <span class="line">-</span>
                                <input type="time" formControlName="endingHourWednesday">
                            </div>
                            <div class="row">
                                <span class="days">{{ 'register.open.state.thursday' | translate }}</span>
                                <mat-slide-toggle color="primary" formControlName="openStateThursday" (change)="disableTimeInput('Thursday')"></mat-slide-toggle>
                                <span class="gray" *ngIf="dateForm.controls.openStateThursday.value">{{ 'register.open.state.open' | translate }}</span>
                                <span class="gray" *ngIf="!dateForm.controls.openStateThursday.value">{{ 'register.open.state.close' | translate }}</span>
                                <input type="time" formControlName="startingHourThursday">
                                <span class="line">-</span>
                                <input type="time" formControlName="endingHourThursday">
                            </div>
                            <div class="row">
                                <span class="days">{{ 'register.open.state.friday' | translate }}</span>
                                <mat-slide-toggle color="primary" formControlName="openStateFriday" (change)="disableTimeInput('Friday')"></mat-slide-toggle>
                                <span class="gray" *ngIf="dateForm.controls.openStateFriday.value">{{ 'register.open.state.open' | translate }}</span>
                                <span class="gray" *ngIf="!dateForm.controls.openStateFriday.value">{{ 'register.open.state.close' | translate }}</span>
                                <input type="time" formControlName="startingHourFriday">
                                <span class="line">-</span>
                                <input type="time" formControlName="endingHourFriday">
                            </div>
                            <div class="row">
                                <span class="days">{{ 'register.open.state.saturday' | translate }}</span>
                                <mat-slide-toggle color="primary" formControlName="openStateSaturday" (change)="disableTimeInput('Saturday')"></mat-slide-toggle>
                                <span class="gray" *ngIf="dateForm.controls.openStateSaturday.value">{{ 'register.open.state.open' | translate }}</span>
                                <span class="gray" *ngIf="!dateForm.controls.openStateSaturday.value">{{ 'register.open.state.close' | translate }}</span>
                                <input type="time" formControlName="startingHourSaturday">
                                <span class="line">-</span>
                                <input type="time" formControlName="endingHourSaturday">
                            </div>
                            <div class="row">
                                <span class="days">{{ 'register.open.state.sunday' | translate }}</span>
                                <mat-slide-toggle color="primary" formControlName="openStateSunday" (change)="disableTimeInput('Sunday')"></mat-slide-toggle>
                                <span class="gray" *ngIf="dateForm.controls.openStateSunday.value">{{ 'register.open.state.open' | translate }}</span>
                                <span class="gray" *ngIf="!dateForm.controls.openStateSunday.value">{{ 'register.open.state.close' | translate }}</span>
                                <input type="time" formControlName="startingHourSunday">
                                <span class="line">-</span>
                                <input type="time" formControlName="endingHourSunday">
                            </div>
                        </form>
                        <div class="description__open-state--actions" *ngIf="showDateButtons()">
                            <button mat-stroked-button color="primary" class="stroked" (click)="cancelDateChange()">{{ 'register.cancel' | translate | uppercase }}</button>
                            <button mat-raised-button color="primary" class="raised" (click)="saveDateChange()">{{ 'admin.profile.save' | translate | uppercase }}</button>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab [label]="'pubs.address' | translate">
                    <div class="empty"></div>
                    <form [formGroup]="addressForm" class="description__address">
                        <span class="description__address--title">{{ 'admin.company.address' | translate }}</span>
                        <mat-form-field appearance="outline" color="primary">
                            <mat-label>{{ 'register.country' | translate }}</mat-label>
                            <input matInput type="text" formControlName="country">
                            <mat-error>{{ 'register.error.required' | translate }}</mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="outline" color="primary">
                            <mat-label>{{ 'register.contry' | translate }}</mat-label>
                            <input matInput type="text" formControlName="contry">
                            <mat-error>{{ 'register.error.required' | translate }}</mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="outline" color="primary">
                            <mat-label>{{ 'register.city' | translate }}</mat-label>
                            <input matInput type="text" formControlName="city">
                            <mat-error>{{ 'register.error.required' | translate }}</mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="outline" color="primary">
                            <mat-label>{{ 'register.address' | translate }}</mat-label>
                            <input matInput type="text" formControlName="address">
                            <mat-error>{{ 'register.error.required' | translate }}</mat-error>
                        </mat-form-field>
                        <div class="description__address--actions" *ngIf="showAddressButtons()">
                            <button mat-stroked-button color="primary" class="stroked" (click)="cancelAddressChange()">{{ 'register.cancel' | translate | uppercase }}</button>
                            <button mat-raised-button color="primary" class="raised" (click)="saveAddressChange()">{{ 'admin.profile.save' | translate | uppercase }}</button>
                        </div>
                    </form>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</section>