@import '../../../shared.scss';

.reservation-page {
    display: flex;
    flex-direction: column;
    width: 100%;
    &__content {
        display: flex;
        flex-direction: column;
        max-width: 1440px;
        width: 100%;
        margin: 0 auto;
        box-sizing: border-box;
        &--back {
            border: 2px solid $orange !important;
            margin: 56px 0;
            mat-icon {
                font-size: 18px;
                width: 18px;
                height: 18px;
                margin: 0 8px 0 0;
            }
        }
        &--title {
            font-size: 40px;
            line-height: 56px;
            font-weight: bold;
            margin: 0 0 56px 0;
        }
        &--data {
            display: flex;
            justify-content: space-between;
            .left {
                display: flex;
                flex-direction: column;
                max-width: 560px;
                width: 100%;
                &__sub-title {
                    font-size: 20px;
                    line-height: 24px;
                    font-weight: bold;
                    margin: 0 0 12px 0;
                }
                &__sub-title-description {
                    font-size: 14px;
                    line-height: 20px;
                    margin: 0 0 16px 0;
                    color: $light-gray;
                }
                &__date-data {
                    font-size: 16px;
                    line-height: 22px;
                    margin: 0 0 56px 0;
                }
                &__table {
                    display: flex;
                    flex-direction: column;
                    width: 160px;
                    height: 185px;
                    padding: 16px;
                    box-sizing: border-box;
                    border: 1px solid #CCCCCC;
                    margin: 0 8px 56px 0;
                    img {
                        width: 100%;
                        margin: auto;
                    }
                    span {
                        font-size: 14px;
                        font-weight: 500;
                        margin: 0 auto;
                    }
                }
            }
            .right {
                display: flex;
                flex-direction: column;
                max-width: 560px;
                width: 100%;
                &__sub-title {
                    font-size: 20px;
                    line-height: 24px;
                    font-weight: bold;
                    margin: 0 0 24px 0;
                }
                &__mini-title {
                    font-size: 16px;
                    line-height: 20px;
                    font-weight: bold;
                    margin: 0 0 8px 0;
                }
                &__value {
                    font-size: 14px;
                    line-height: 18px;
                    margin: 0 0 24px 0;
                }
            }
        }
        &--actions {
            display: flex;
            margin: 80px 0;
            .stroked {
                border: 2px solid $orange !important;
                margin: 0 8px 0 auto;
                height: 56px;
                padding: 0 48px;
            }
            .raised {
                color: $white;
                height: 56px;
                padding: 0 48px;
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .reservation-page {
        &__content {
            padding: 16px;
            &--back {
                margin: 0 0 24px 0;
            }
            &--title {
                font-size: 20px;
                line-height: 54px;
                margin: 0 0 24px 0;
            }
            &--data {
                flex-direction: column;
            }
            &--actions {
                flex-direction: column;
                margin: 40px 0 0 0;
                .stroked {
                    height: 36px;
                    padding: 0 16px;
                    margin: 0 0 8px 0;
                }
                .raised {
                    color: $white;
                    height: 36px;
                    padding: 0 16px;
                }
            }
        }
    }
}