<section class="register">
    <span *ngIf="router.url == '/auth/private_register'" class="register__private">{{ 'register.private.member' | translate }}</span>
    <span *ngIf="router.url == '/auth/legal_register'" class="register__private">{{ 'register.legal.member' | translate }}</span>
    <form [formGroup]="registerForm" [ngClass]="{'active': router.url == '/auth/private_register'}">
        <span class="register__sub-title" *ngIf="router.url == '/auth/legal_register'">{{ 'register.person.data' | translate }}</span>
        <mat-form-field appearance="outline" color="primary">
            <mat-label>{{ 'register.name' | translate }}</mat-label>
            <input matInput type="text" formControlName="name">
            <mat-error>{{ 'register.error.required' | translate }}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" color="primary">
            <mat-label>{{ 'register.email' | translate }}</mat-label>
            <input matInput type="text" formControlName="email">
            <mat-error *ngIf="registerForm.controls.email.hasError('required')">{{ 'register.error.required' | translate }}</mat-error>
            <mat-error *ngIf="registerForm.controls.email.hasError('pattern')">{{ 'register.error.email' | translate }}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" color="primary">
            <mat-label>{{ 'register.number' | translate }}</mat-label>
            <input matInput type="text" formControlName="phoneNumber" (input)="justNumbers($event)">
            <mat-error *ngIf="registerForm.controls.phoneNumber.hasError('required')">{{ 'register.error.required' | translate }}</mat-error>
            <mat-error *ngIf="registerForm.controls.phoneNumber.hasError('pattern')">{{ 'register.error.phone.number' | translate }}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" color="primary" class="password">
            <mat-label>{{ 'register.password' | translate }}</mat-label>
            <input matInput [type]="password ? 'password' : 'text'" formControlName="password">
            <button mat-icon-button matSuffix (click)="password = !password" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="password">
                <mat-icon>{{ password ? 'visibility_off' : 'visibility' }}</mat-icon>
            </button>
            <mat-error *ngIf="registerForm.controls.password.hasError('required')">{{ 'register.error.required' | translate }}</mat-error>
            <mat-error *ngIf="registerForm.controls.password.hasError('minlength')">{{ 'register.error.length' | translate }}</mat-error>
            <mat-error *ngIf="registerForm.controls.password.hasError('hasCase')">{{ 'register.error.uppercase' | translate }}</mat-error>
            <mat-error *ngIf="registerForm.controls.password.hasError('hasNumber')">{{ 'register.error.has.number' | translate }}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" color="primary" class="password">
            <mat-label>{{ 'register.password.again' | translate }}</mat-label>
            <input matInput [type]="passwordAgain ? 'password' : 'text'" formControlName="passwordAgain">
            <button mat-icon-button matSuffix (click)="passwordAgain = !passwordAgain" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="passwordAgain">
                <mat-icon>{{ passwordAgain ? 'visibility_off' : 'visibility' }}</mat-icon>
            </button>
            <mat-error *ngIf="registerForm.controls.passwordAgain.hasError('required')">{{ 'register.error.required' | translate }}</mat-error>
            <mat-error *ngIf="registerForm.controls.passwordAgain.hasError('minlength')">{{ 'register.error.length' | translate }}</mat-error>
            <mat-error *ngIf="registerForm.controls.passwordAgain.hasError('hasCase')">{{ 'register.error.uppercase' | translate }}</mat-error>
            <mat-error *ngIf="registerForm.controls.passwordAgain.hasError('hasNumber')">{{ 'register.error.has.number' | translate }}</mat-error>
            <mat-error *ngIf="registerForm.controls.passwordAgain.hasError('notEqual')">{{ 'register.error.password' | translate }}</mat-error>
        </mat-form-field>
        <div *ngIf="router.url == '/auth/legal_register'" class="register__legal-member">
            <span class="register__sub-title">{{ 'register.company.data' | translate }}</span>
            <mat-form-field appearance="outline" color="primary">
                <mat-label>{{ 'register.company.name' | translate }}</mat-label>
                <input matInput type="text" formControlName="companyName">
                <mat-error>{{ 'register.error.required' | translate }}</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" color="primary">
                <mat-label>{{ 'register.country' | translate }}</mat-label>
                <input matInput type="text" formControlName="country">
                <mat-error>{{ 'register.error.required' | translate }}</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" color="primary">
                <mat-label>{{ 'register.contry' | translate }}</mat-label>
                <input matInput type="text" formControlName="contry">
                <mat-error>{{ 'register.error.required' | translate }}</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" color="primary">
                <mat-label>{{ 'register.city' | translate }}</mat-label>
                <input matInput type="text" formControlName="city">
                <mat-error>{{ 'register.error.required' | translate }}</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" color="primary">
                <mat-label>{{ 'register.address' | translate }}</mat-label>
                <input matInput type="text" formControlName="address">
                <mat-error>{{ 'register.error.required' | translate }}</mat-error>
            </mat-form-field>
            <span class="register__sub-title">{{ 'register.images.from.pubs' | translate }}</span>
            <span class="register__image-description">{{ 'register.images.text' | translate }}</span>
            <span class="register__image-description-max">{{ 'register.images.text.max' | translate }}</span>
            <div class="register__image-upload">
    
            </div>
            <span class="register__sub-title">{{ 'register.description.from.pubs' | translate }}</span>
            <mat-form-field appearance="outline" color="primary">
                <mat-label>{{ 'register.description' | translate }}</mat-label>
                <textarea matInput type="text" formControlName="description"></textarea>
                <mat-error>{{ 'register.error.required' | translate }}</mat-error>
            </mat-form-field>
            <span class="register__sub-title">{{ 'register.open.state' | translate }}</span>
            <div class="register__open-state">
    
            </div>
        </div>
    </form>
    <button mat-raised-button color="primary" (click)="register()" [disabled]="disableButton()">{{ 'register' | translate }}</button>
    <button mat-stroked-button color="primary" class="white-button" routerLink="/auth">{{ 'register.cancel' | translate }}</button>
</section>