<section class="pubs">
    <div class="pubs__header">
        <button mat-stroked-button color="primary" (click)="back()">{{ 'auth.back.button' | translate }}</button>
    </div>
    <div class="pubs__content">
        <span class="pubs__content--title">{{ pub?.companyName }}</span>
        <span class="pubs__content--opening-state" *ngIf="numberOfDay == 1">{{ 'home.opening.hours' | translate }}: {{ pub?.startingHourMonday }} - {{ pub?.endingHourMonday }}</span>
        <span class="pubs__content--opening-state" *ngIf="numberOfDay == 2">{{ 'home.opening.hours' | translate }}: {{ pub?.startingHourTuesday }} - {{ pub?.endingHourTuesday }}</span>
        <span class="pubs__content--opening-state" *ngIf="numberOfDay == 3">{{ 'home.opening.hours' | translate }}: {{ pub?.startingHourWednesday }} - {{ pub?.endingHourWednesday }}</span>
        <span class="pubs__content--opening-state" *ngIf="numberOfDay == 4">{{ 'home.opening.hours' | translate }}: {{ pub?.startingHourThursday }} - {{ pub?.endingHourThursday }}</span>
        <span class="pubs__content--opening-state" *ngIf="numberOfDay == 5">{{ 'home.opening.hours' | translate }}: {{ pub?.startingHourFriday }} - {{ pub?.endingHourFriday }}</span>
        <span class="pubs__content--opening-state" *ngIf="numberOfDay == 6">{{ 'home.opening.hours' | translate }}: {{ pub?.startingHourSaturday }} - {{ pub?.endingHourSaturday }}</span>
        <span class="pubs__content--opening-state" *ngIf="numberOfDay == 7">{{ 'home.opening.hours' | translate }}: {{ pub?.startingHourSunday }} - {{ pub?.endingHourSunday }}</span>
        <span class="pubs__content--opening-state" *ngIf="!getOpenState(pub)">{{ 'register.open.state.close' | translate }}</span>
        <div class="pubs__content--layout">
            <div class="picture">
                <div class="picture__main">
                    <div class="picture__main--left" (click)="previousPicture()"><mat-icon>arrow_back_ios</mat-icon></div>
                    <img [src]="imageSrc0">
                    <div class="picture__main--left right" (click)="nextPicture()"><mat-icon>arrow_forward_ios</mat-icon></div>
                </div>
                <div class="picture__more">
                    <div class="picture__more--more">
                        <img [src]="imageSrc1">
                    </div>
                    <div class="picture__more--more">
                        <img [src]="imageSrc2">
                    </div>
                </div>
            </div>
            <div class="reservate mat-elevation-z3">
                <span class="reservate__title">{{ 'pubs.reservate' | translate }}</span>
                <div class="reservate__points">
                    <div class="reservate__points--circle" [ngClass]="{'active': stage == 1, 'green': stage != 1}">
                        <span *ngIf="stage == 1">1</span>
                        <mat-icon *ngIf="stage != 1">checked</mat-icon>
                    </div>
                    <span>{{ 'pubs.point.one' | translate }}</span>
                </div>
                <span class="reservate__date" [ngClass]="{'active': stage != 1}">{{ 'pubs.date' | translate }}:</span>
                <mat-form-field appearance="outline" *ngIf="stage == 1">
                    <mat-label>{{ 'pubs.date.choose' | translate }}</mat-label>
                    <input matInput [matDatepicker]="picker" [formControl]="dateCtrl" [min]="today">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                <span *ngIf="stage != 1" class="info">{{ dateCtrl.value | date: 'yyyy. LL. dd.' }}</span>
                <span class="reservate__date" [ngClass]="{'active': stage != 1}">{{ 'pubs.time' | translate }}:</span>
                <input type="time" class="time" [formControl]="timeCtrl" *ngIf="stage == 1">
                <span *ngIf="stage != 1" class="info">{{ timeCtrl.value }}</span>
                <div class="next" *ngIf="stage == 1">
                    <button mat-raised-button color="primary" class="raised" (click)="stage = 2" [disabled]="dateCtrl.invalid || timeCtrl.invalid">{{ 'pubs.next.button' | translate | uppercase }}</button>
                </div>
                <div class="reservate__points">
                    <div class="reservate__points--circle" [ngClass]="{'active': stage == 2, 'green': stage != 1 && stage != 2}">
                        <span *ngIf="stage == 1 || stage == 2">2</span>
                        <mat-icon *ngIf="stage != 1 && stage != 2">checked</mat-icon>
                    </div>
                    <span>{{ 'pubs.point.two' | translate }}</span>
                </div>
                <div class="reservate__tables" *ngIf="stage == 2">
                    <div class="reservate__tables--person-card" *ngFor="let table of tables" (click)="chooseTable(table)" [ngClass]="{'active': activeTable == table}">
                        <div class="reserved" *ngIf="table.reserved">
                            <span>{{ 'pubs.reserved' | translate }}</span>
                        </div>
                        <img *ngIf="table.persons == 2" src="assets/images/2_person.png">
                        <img *ngIf="table.persons == 4" src="assets/images/4_person.png">
                        <span>{{ 'pubs.two.person' | translate }}</span>
                    </div>
                </div>
                <div class="next" *ngIf="stage == 2">
                    <button mat-stroked-button color="primary" (click)="stage = 1">{{ 'auth.back.button' | translate | uppercase }}</button>
                    <button mat-raised-button color="primary" class="raised" (click)="stage = 3" [disabled]="activeTable == null">{{ 'pubs.next.button' | translate | uppercase }}</button>
                </div>
                <div class="reservate__tables--person-card margin" *ngIf="stage != 1 && stage != 2">
                    <img *ngIf="activeTable.persons == 2" src="assets/images/2_person.png">
                    <img *ngIf="activeTable.persons == 4" src="assets/images/4_person.png">
                    <span>{{ 'pubs.two.person' | translate }}</span>
                </div>
                <div class="reservate__points">
                    <div class="reservate__points--circle" [ngClass]="{'active': stage == 3, 'green': stage != 1 && stage != 2 && stage != 3}">
                        <span *ngIf="stage == 1 || stage == 2 || stage == 3">3</span>
                        <mat-icon *ngIf="stage != 1 && stage != 2 && stage != 3">checked</mat-icon>
                    </div>
                    <span>{{ 'pubs.point.three' | translate }}</span>
                </div>
                <form [formGroup]="personalData" *ngIf="stage == 3">
                    <mat-form-field appearance="outline">
                        <mat-label>{{ 'pubs.name.placeholder' | translate }}</mat-label>
                        <input matInput formControlName="name">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>{{ 'pubs.email.placeholder' | translate }}</mat-label>
                        <input matInput formControlName="email">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>{{ 'pubs.phone.number.placeholder' | translate }}</mat-label>
                        <input matInput formControlName="phoneNumber">
                    </mat-form-field>
                </form>
                <div class="next" *ngIf="stage == 3">
                    <button mat-stroked-button color="primary" (click)="stage = 2">{{ 'auth.back.button' | translate | uppercase }}</button>
                </div>
                <button mat-raised-button color="primary" class="reservate__button" (click)="reservate()" [disabled]="dateCtrl.invalid || timeCtrl.invalid || activeTable == null || personalData.invalid">{{ 'pubs.reservate.button' | translate | uppercase }}</button>
            </div>
        </div>
        <mat-tab-group class="pubs__content--description">
            <mat-tab [label]="'pubs.description' | translate">
                <div class="empty"></div>
                <span class="description">{{ pub?.description }}</span>
            </mat-tab>
            <mat-tab [label]="'pubs.menu' | translate">
                <div class="empty"></div>
            </mat-tab>
            <mat-tab [label]="'pubs.open.state' | translate">
                <div class="empty"></div>
                <div class="opening-state">
                    <div class="opening-state__row" [ngClass]="{'active': numberOfDay == 1}">
                        <span class="opening-state__row--day">{{ 'register.open.state.monday' | translate }}</span>
                        <span *ngIf="pub?.openStateMonday">{{ pub?.startingHourMonday }} - {{ pub?.endingHourMonday }}</span>
                        <span *ngIf="!pub?.openStateMonday">{{ 'register.open.state.close' | translate }}</span>
                    </div>
                    <div class="opening-state__row" [ngClass]="{'active': numberOfDay == 2}">
                        <span class="opening-state__row--day">{{ 'register.open.state.tuesday' | translate }}</span>
                        <span *ngIf="pub?.openStateTuesday">{{ pub?.startingHourTuesday }} - {{ pub?.endingHourTuesday }}</span>
                        <span *ngIf="!pub?.openStateTuesday">{{ 'register.open.state.close' | translate }}</span>
                    </div>
                    <div class="opening-state__row" [ngClass]="{'active': numberOfDay == 3}">
                        <span class="opening-state__row--day">{{ 'register.open.state.wednesday' | translate }}</span>
                        <span *ngIf="pub?.openStateWednesday">{{ pub?.startingHourWednesday }} - {{ pub?.endingHourWednesday }}</span>
                        <span *ngIf="!pub?.openStateWednesday">{{ 'register.open.state.close' | translate }}</span>
                    </div>
                    <div class="opening-state__row" [ngClass]="{'active': numberOfDay == 4}">
                        <span class="opening-state__row--day">{{ 'register.open.state.thursday' | translate }}</span>
                        <span *ngIf="pub?.openStateThursday">{{ pub?.startingHourThursday }} - {{ pub?.endingHourThursday }}</span>
                        <span *ngIf="!pub?.openStateThursday">{{ 'register.open.state.close' | translate }}</span>
                    </div>
                    <div class="opening-state__row" [ngClass]="{'active': numberOfDay == 5}">
                        <span class="opening-state__row--day">{{ 'register.open.state.friday' | translate }}</span>
                        <span *ngIf="pub?.openStateFriday">{{ pub?.startingHourFriday }} - {{ pub?.endingHourFriday }}</span>
                        <span *ngIf="!pub?.openStateFriday">{{ 'register.open.state.close' | translate }}</span>
                    </div>
                    <div class="opening-state__row" [ngClass]="{'active': numberOfDay == 6}">
                        <span class="opening-state__row--day">{{ 'register.open.state.saturday' | translate }}</span>
                        <span *ngIf="pub?.openStateSaturday">{{ pub?.startingHourSaturday }} - {{ pub?.endingHourSaturday }}</span>
                        <span *ngIf="!pub?.openStateSaturday">{{ 'register.open.state.close' | translate }}</span>
                    </div>
                    <div class="opening-state__row" [ngClass]="{'active': numberOfDay == 7}">
                        <span class="opening-state__row--day">{{ 'register.open.state.sunday' | translate }}</span>
                        <span *ngIf="pub?.openStateSunday">{{ pub?.startingHourSunday }} - {{ pub?.endingHourSunday }}</span>
                        <span *ngIf="!pub?.openStateSunday">{{ 'register.open.state.close' | translate }}</span>
                    </div>
                </div>
            </mat-tab>
            <mat-tab [label]="'pubs.address' | translate">
                <div class="empty"></div>
                <div class="address">
                    <span>{{ 'register.country' | translate }}: {{ pub?.country }}</span>
                    <span>{{ 'register.contry' | translate }}: {{ pub?.contry }}</span>
                    <span>{{ 'register.city' | translate }}: {{ pub?.city }}</span>
                    <span>{{ 'register.address' | translate }}: {{ pub?.address }}</span>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
</section>