<section class="pubs">
    <div class="pubs__header">
        <button mat-stroked-button color="primary" (click)="back()"><mat-icon>arrow_back</mat-icon>{{ 'auth.back.button' | translate | uppercase }}</button>
    </div>
    <div class="pubs__content">
        <div class="pubs__content--title-container">
            <span class="title">{{ pub?.companyName }}</span>
            <div class="space">
                <span>{{ 'pubs.space' | translate }}:</span>
                <span><b>{{ pub?.currentSpace }}/{{ pub?.space }}</b></span>
            </div>
        </div>
        <span class="pubs__content--opening-state" *ngIf="numberOfDay == 1 && getOpenState(pub)">{{ 'home.opening.hours' | translate }}: {{ pub?.startingHourMonday }} - {{ pub?.endingHourMonday }}</span>
        <span class="pubs__content--opening-state" *ngIf="numberOfDay == 2 && getOpenState(pub)">{{ 'home.opening.hours' | translate }}: {{ pub?.startingHourTuesday }} - {{ pub?.endingHourTuesday }}</span>
        <span class="pubs__content--opening-state" *ngIf="numberOfDay == 3 && getOpenState(pub)">{{ 'home.opening.hours' | translate }}: {{ pub?.startingHourWednesday }} - {{ pub?.endingHourWednesday }}</span>
        <span class="pubs__content--opening-state" *ngIf="numberOfDay == 4 && getOpenState(pub)">{{ 'home.opening.hours' | translate }}: {{ pub?.startingHourThursday }} - {{ pub?.endingHourThursday }}</span>
        <span class="pubs__content--opening-state" *ngIf="numberOfDay == 5 && getOpenState(pub)">{{ 'home.opening.hours' | translate }}: {{ pub?.startingHourFriday }} - {{ pub?.endingHourFriday }}</span>
        <span class="pubs__content--opening-state" *ngIf="numberOfDay == 6 && getOpenState(pub)">{{ 'home.opening.hours' | translate }}: {{ pub?.startingHourSaturday }} - {{ pub?.endingHourSaturday }}</span>
        <span class="pubs__content--opening-state" *ngIf="numberOfDay == 0 && getOpenState(pub)">{{ 'home.opening.hours' | translate }}: {{ pub?.startingHourSunday }} - {{ pub?.endingHourSunday }}</span>
        <span class="pubs__content--opening-state-red" *ngIf="!getOpenState(pub)">{{ 'register.open.state.close' | translate }}</span>
        <div class="pubs__content--layout">
            <div class="picture">
                <div class="picture__main">
                    <div class="picture__main--left" (click)="previousPicture()"><mat-icon>arrow_back_ios</mat-icon></div>
                    <img [src]="imageSrc0">
                    <div class="picture__main--left right" (click)="nextPicture()"><mat-icon>arrow_forward_ios</mat-icon></div>
                </div>
                <div class="picture__more">
                    <div class="picture__more--more">
                        <img [src]="imageSrc1">
                    </div>
                    <div class="picture__more--more">
                        <img [src]="imageSrc2">
                    </div>
                </div>
            </div>
            <div class="reservate mat-elevation-z3">
                <span class="reservate__title">{{ 'pubs.reservate' | translate }}</span>
                <div class="reservate__points">
                    <div class="reservate__points--circle" [ngClass]="{'active': stage == 1, 'green': stage != 1}">
                        <span *ngIf="stage == 1">1</span>
                        <mat-icon *ngIf="stage != 1">checked</mat-icon>
                    </div>
                    <span>{{ 'pubs.point.one' | translate }}</span>
                </div>
                <span class="reservate__date" [ngClass]="{'active': stage != 1}">{{ 'pubs.date' | translate }}:</span>
                <mat-form-field appearance="outline" *ngIf="stage == 1">
                    <mat-label>{{ 'pubs.date.choose' | translate }}</mat-label>
                    <input matInput [matDatepicker]="picker" [matDatepickerFilter]="disableDays" [formControl]="dateCtrl" [min]="today">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                <span *ngIf="stage != 1" class="info">{{ dateCtrl.value | date: 'yyyy. LL. dd.' }}</span>
                <span class="reservate__date" [ngClass]="{'active': stage != 1}">{{ 'pubs.time' | translate }}:</span>
                <div class="reservate__time-input" *ngIf="stage == 1">
                    <mat-form-field appearance="outline">
                        <mat-label>{{ 'pubs.time.hour' | translate }}</mat-label>
                        <mat-select [formControl]="hoursCtrl">
                          <mat-option *ngFor="let hour of hours" [value]="hour">
                            {{ hour }}
                          </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>{{ 'pubs.time.minute' | translate }}</mat-label>
                        <mat-select [formControl]="minutesCtrl">
                          <mat-option *ngFor="let minute of minutes" [value]="minute">
                            {{ minute }}
                          </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <span *ngIf="stage != 1" class="info">{{ hoursCtrl.value + ':' + minutesCtrl.value }}</span>
                <div class="next" *ngIf="stage == 1">
                    <button mat-raised-button color="primary" class="raised" (click)="stage = 2" [disabled]="dateCtrl.invalid || hoursCtrl.invalid || minutesCtrl.invalid">{{ 'pubs.next.button' | translate | uppercase }}</button>
                </div>
                <div class="reservate__points">
                    <div class="reservate__points--circle" [ngClass]="{'active': stage == 2, 'green': stage != 1 && stage != 2}">
                        <span *ngIf="stage == 1 || stage == 2">2</span>
                        <mat-icon *ngIf="stage != 1 && stage != 2">checked</mat-icon>
                    </div>
                    <span>{{ 'pubs.point.two' | translate }}</span>
                </div>
                <div class="reservate__tables" *ngIf="stage == 2">
                    <div class="reservate__tables--person-card" *ngFor="let table of tables" (click)="chooseTable(table)" [ngClass]="{'normal': !table.reserved, 'active': activeTable == table, 'disabled': table.reserved}">
                        <div class="reserved" *ngIf="table.reserved">
                            <span>{{ 'pubs.reserved' | translate }}</span>
                        </div>
                        <img *ngIf="table.persons == 2" src="assets/images/2_person.png">
                        <img *ngIf="table.persons == 4" src="assets/images/4_person.png">
                        <span *ngIf="table.persons == 2">{{ 'pubs.two.person' | translate }}</span>
                        <span *ngIf="table.persons == 4">{{ 'pubs.four.person' | translate }}</span>
                    </div>
                </div>
                <div class="next" *ngIf="stage == 2">
                    <button mat-stroked-button color="primary" class="stroked" (click)="stage = 1">{{ 'auth.back.button' | translate | uppercase }}</button>
                    <button mat-raised-button color="primary" class="raised" (click)="stage = 3" [disabled]="activeTable == null">{{ 'pubs.next.button' | translate | uppercase }}</button>
                </div>
                <div class="reservate__tables--person-card margin" *ngIf="stage != 1 && stage != 2">
                    <img *ngIf="activeTable.persons == 2" src="assets/images/2_person.png">
                    <img *ngIf="activeTable.persons == 4" src="assets/images/4_person.png">
                    <span *ngIf="activeTable.persons == 2">{{ 'pubs.two.person' | translate }}</span>
                    <span *ngIf="activeTable.persons == 4">{{ 'pubs.four.person' | translate }}</span>
                </div>
                <div class="reservate__points">
                    <div class="reservate__points--circle" [ngClass]="{'active': stage == 3, 'green': stage != 1 && stage != 2 && stage != 3}">
                        <span *ngIf="stage == 1 || stage == 2 || stage == 3">3</span>
                        <mat-icon *ngIf="stage != 1 && stage != 2 && stage != 3">checked</mat-icon>
                    </div>
                    <span>{{ 'pubs.point.three' | translate }}</span>
                </div>
                <form [formGroup]="personalData" *ngIf="stage == 3">
                    <mat-form-field appearance="outline">
                        <mat-label>{{ 'pubs.name.placeholder' | translate }}</mat-label>
                        <input matInput type="text" formControlName="name">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>{{ 'pubs.email.placeholder' | translate }}</mat-label>
                        <input matInput type="text" formControlName="email">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>{{ 'pubs.phone.number.placeholder' | translate }}</mat-label>
                        <input matInput type="text" formControlName="phoneNumber" (input)="justNumbers($event)">
                    </mat-form-field>
                </form>
                <div class="next" *ngIf="stage == 3">
                    <button mat-stroked-button color="primary" class="stroked" (click)="stage = 2">{{ 'auth.back.button' | translate | uppercase }}</button>
                </div>
                <button mat-raised-button color="primary" class="reservate__button" (click)="reservate()" [disabled]="dateCtrl.invalid || hoursCtrl.invalid || minutesCtrl.invalid || activeTable == null || personalData.invalid">{{ 'pubs.reservate.button' | translate | uppercase }}</button>
            </div>
        </div>
        <mat-tab-group class="pubs__content--description">
            <mat-tab [label]="'pubs.description' | translate">
                <div class="empty"></div>
                <span class="description">{{ pub?.description }}</span>
            </mat-tab>
            <mat-tab [label]="'pubs.menu' | translate">
                <div class="empty"></div>
                <div class="menu">
                    <span *ngIf="pub?.aperitivMenu?.length != 0" class="menu__title">{{ 'admin.company.menu.aperitiv' | translate }}</span>
                    <div class="menu__card mat-elevation-z4" *ngFor="let aperitiv of pub?.aperitivMenu; let index = index">
                        <span>{{ aperitiv.name }}</span>
                        <span>{{ aperitiv.size }} g</span>
                        <span>{{ aperitiv.price }} Ron</span>
                        <span>{{ aperitiv.make }}</span>
                    </div>
                    <span *ngIf="pub?.mainMenu?.length != 0" class="menu__title">{{ 'admin.company.menu.main.menu' | translate }}</span>
                    <div class="menu__card mat-elevation-z4" *ngFor="let main of pub?.mainMenu; let index = index">
                        <span>{{ main.name }}</span>
                        <span>{{ main.size }} g</span>
                        <span>{{ main.price }} Ron</span>
                        <span>{{ main.make }}</span>
                    </div>
                    <span *ngIf="pub?.desertMenu?.length != 0" class="menu__title">{{ 'admin.company.menu.dessert' | translate }}</span>
                    <div class="menu__card mat-elevation-z4" *ngFor="let desert of pub?.desertMenu; let index = index">
                        <span>{{ desert.name }}</span>
                        <span>{{ desert.size }} g</span>
                        <span>{{ desert.price }} Ron</span>
                        <span>{{ desert.make }}</span>
                    </div>
                    <span *ngIf="pub?.drinkMenu?.length != 0" class="menu__title">{{ 'admin.company.menu.drink' | translate }}</span>
                    <div class="menu__card mat-elevation-z4" *ngFor="let drink of pub?.drinkMenu; let index = index">
                        <span>{{ drink.name }}</span>
                        <span>{{ drink.size }} g</span>
                        <span>{{ drink.price }} Ron</span>
                        <span>{{ drink.make }}</span>
                    </div>
                </div>
            </mat-tab>
            <mat-tab [label]="'pubs.open.state' | translate">
                <div class="empty"></div>
                <div class="opening-state">
                    <div class="opening-state__row" [ngClass]="{'active': numberOfDay == 1}">
                        <span class="opening-state__row--day">{{ 'register.open.state.monday' | translate }}</span>
                        <span *ngIf="pub?.openStateMonday">{{ pub?.startingHourMonday }} - {{ pub?.endingHourMonday }}</span>
                        <span *ngIf="!pub?.openStateMonday">{{ 'register.open.state.close' | translate }}</span>
                    </div>
                    <div class="opening-state__row" [ngClass]="{'active': numberOfDay == 2}">
                        <span class="opening-state__row--day">{{ 'register.open.state.tuesday' | translate }}</span>
                        <span *ngIf="pub?.openStateTuesday">{{ pub?.startingHourTuesday }} - {{ pub?.endingHourTuesday }}</span>
                        <span *ngIf="!pub?.openStateTuesday">{{ 'register.open.state.close' | translate }}</span>
                    </div>
                    <div class="opening-state__row" [ngClass]="{'active': numberOfDay == 3}">
                        <span class="opening-state__row--day">{{ 'register.open.state.wednesday' | translate }}</span>
                        <span *ngIf="pub?.openStateWednesday">{{ pub?.startingHourWednesday }} - {{ pub?.endingHourWednesday }}</span>
                        <span *ngIf="!pub?.openStateWednesday">{{ 'register.open.state.close' | translate }}</span>
                    </div>
                    <div class="opening-state__row" [ngClass]="{'active': numberOfDay == 4}">
                        <span class="opening-state__row--day">{{ 'register.open.state.thursday' | translate }}</span>
                        <span *ngIf="pub?.openStateThursday">{{ pub?.startingHourThursday }} - {{ pub?.endingHourThursday }}</span>
                        <span *ngIf="!pub?.openStateThursday">{{ 'register.open.state.close' | translate }}</span>
                    </div>
                    <div class="opening-state__row" [ngClass]="{'active': numberOfDay == 5}">
                        <span class="opening-state__row--day">{{ 'register.open.state.friday' | translate }}</span>
                        <span *ngIf="pub?.openStateFriday">{{ pub?.startingHourFriday }} - {{ pub?.endingHourFriday }}</span>
                        <span *ngIf="!pub?.openStateFriday">{{ 'register.open.state.close' | translate }}</span>
                    </div>
                    <div class="opening-state__row" [ngClass]="{'active': numberOfDay == 6}">
                        <span class="opening-state__row--day">{{ 'register.open.state.saturday' | translate }}</span>
                        <span *ngIf="pub?.openStateSaturday">{{ pub?.startingHourSaturday }} - {{ pub?.endingHourSaturday }}</span>
                        <span *ngIf="!pub?.openStateSaturday">{{ 'register.open.state.close' | translate }}</span>
                    </div>
                    <div class="opening-state__row" [ngClass]="{'active': numberOfDay == 0}">
                        <span class="opening-state__row--day">{{ 'register.open.state.sunday' | translate }}</span>
                        <span *ngIf="pub?.openStateSunday">{{ pub?.startingHourSunday }} - {{ pub?.endingHourSunday }}</span>
                        <span *ngIf="!pub?.openStateSunday">{{ 'register.open.state.close' | translate }}</span>
                    </div>
                </div>
            </mat-tab>
            <mat-tab [label]="'pubs.address' | translate">
                <div class="empty"></div>
                <div class="address">
                    <span>{{ 'register.country' | translate }}: {{ pub?.country }}</span>
                    <span>{{ 'register.contry' | translate }}: {{ pub?.contry }}</span>
                    <span>{{ 'register.city' | translate }}: {{ pub?.city }}</span>
                    <span>{{ 'register.address' | translate }}: {{ pub?.address }}</span>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
</section>