<mat-drawer-container class="container">
    <mat-drawer #drawer class="container__sidenav" mode="side">
      <mat-nav-list>
        <div class="container__sidenav--title" routerLink="/">
          <span class="text">smart</span><span class="text colored">Pubs</span>
        </div>
        <mat-list-item class="container__sidenav--items" (click)="drawer.close()" routerLink="/" [ngClass]="{'active': isHome()}"><mat-icon>home</mat-icon>{{ 'header.home' | translate }}</mat-list-item>
        <mat-list-item *ngIf="(isLoggedIn | async)" class="container__sidenav--items" (click)="drawer.close()" routerLink="/admin" [routerLinkActive]="['active']"><mat-icon>dashboard</mat-icon><span>{{ 'header.dashboard' | translate }}</span></mat-list-item>
        <mat-list-item *ngIf="(!isLoggedIn | async)" class="container__sidenav--items" (click)="drawer.close()" routerLink="/auth" [routerLinkActive]="['active']"><mat-icon>account_circle</mat-icon><span>{{ 'header.login' | translate }}</span></mat-list-item>
        <mat-list-item class="container__sidenav--items"><mat-icon>bedtime</mat-icon><span>{{ 'header.dark.mode' | translate }}</span><mat-slide-toggle  color="primary" [formControl]="darkModeCtrl"></mat-slide-toggle></mat-list-item>
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <mat-icon>language</mat-icon><span>{{ 'header.language' | translate }}</span>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <a mat-list-item [ngClass]="{'active': currentLanguage == 'hu'}" (click)="useLanguage('ro')"><span>{{ 'header.languages.hu' | translate }}</span><mat-icon>checked</mat-icon></a>
            <a mat-list-item [ngClass]="{'active': currentLanguage == 'ro'}" (click)="useLanguage('hu')"><span>{{ 'header.languages.ro' | translate }}</span><mat-icon>checked</mat-icon></a>
          </mat-expansion-panel>
        </mat-accordion>
        <mat-list-item *ngIf="(isLoggedIn | async)" class="container__sidenav--items" (click)="signOut()"><mat-icon>logout</mat-icon><span>{{ 'header.logout' | translate }}</span></mat-list-item>
      </mat-nav-list>
    </mat-drawer>
    <mat-drawer-content class="container__content">
        <div class="container__content--header" [ngClass]="{'hide': router.url.startsWith('/auth')}">
          <div class="toolbar">
            <div class="toolbar__side-nav">
              <button mat-icon-button color="primary" (click)="drawer.open()"><mat-icon>menu</mat-icon></button>
            </div>
            <div class="toolbar__title" routerLink="/">
                <span class="toolbar__title--text">smart</span><span class="toolbar__title--text colored">Pubs</span>
            </div>
            <div class="toolbar__actions">
              <div class="toolbar__actions--dark-mode">
                <mat-icon color="primary">brightness_5</mat-icon>
                <mat-slide-toggle  color="primary" [formControl]="darkModeCtrl"></mat-slide-toggle>
                <mat-icon color="primary">bedtime</mat-icon>
              </div>
              <div class="toolbar__actions--language" #languagesMenuTrigger="matMenuTrigger" [matMenuTriggerFor]="languagesMenu">
                <div class="language-text" *ngIf="currentLanguage == 'hu'">HU</div>
                <div class="language-text" *ngIf="currentLanguage == 'ro'">RO</div>
                <mat-icon color="primary">{{languagesMenuTrigger.menuOpen ? 'arrow_drop_up' : 'arrow_drop_down'}}</mat-icon>
              </div>
              <mat-menu #languagesMenu="matMenu">
                  <div class="lang">
                      <a mat-menu-item (click)="useLanguage('ro')"><mat-icon color="primary" *ngIf="currentLanguage == 'ro'">checked</mat-icon><span class="text" [ngClass]="{'empty': currentLanguage == 'hu', 'active': currentLanguage == 'ro'}">{{ 'header.languages.ro' | translate }}</span></a>
                  </div>
                  <div class="lang">
                      <a mat-menu-item (click)="useLanguage('hu')"><mat-icon color="primary" *ngIf="currentLanguage == 'hu'">checked</mat-icon><span class="text" [ngClass]="{'empty': currentLanguage == 'ro', 'active': currentLanguage == 'hu'}">{{ 'header.languages.hu' | translate }}</span></a>
                  </div>
              </mat-menu>
              <mat-divider [vertical]="true"></mat-divider>
              <button *ngIf="(isLoggedIn | async)" class="toolbar__actions--login-button margin" routerLink="/admin" mat-button color="accent"><mat-icon color="primary">dashboard</mat-icon>{{ 'header.dashboard' | translate }}</button>
              <button *ngIf="!(isLoggedIn | async)" class="toolbar__actions--login-button" routerLink="/auth" mat-button color="accent"><mat-icon color="primary">account_circle</mat-icon><span>{{ 'header.login' | translate }}</span></button>
              <button *ngIf="(isLoggedIn | async)" class="toolbar__actions--login-button" mat-button color="accent" #profileMenuTrigger="matMenuTrigger" [matMenuTriggerFor]="profileMenu"><mat-icon color="primary">account_circle</mat-icon><span>{{ 'header.profile' | translate }}</span></button>
              <mat-menu #profileMenu="matMenu">
                <div class="profile-menu">
                    <span>{{ user?.name }}</span>
                    <span>{{ user?.email }}</span>
                    <span>{{ user?.phoneNumber }}</span>
                    <mat-divider></mat-divider>
                    <button mat-flat-button color="primary" (click)="signOut()">{{ 'header.logout' | translate | uppercase }}</button>
                </div>
              </mat-menu>
            </div>
          </div>
          <mat-progress-bar *ngIf="loading" [ngClass]="{'hide': router.url.startsWith('/auth')}" mode="indeterminate" class="loading-bar"></mat-progress-bar>
        </div>
        <div id="content" class="container__content--content" [ngClass]="{'active': router.url.startsWith('/auth')}">
          <router-outlet #outlet="outlet" (activate)="onActivate($event)"></router-outlet>
          <div class="footer" *ngIf="!router.url.startsWith('/auth')">
            <div class="footer__footer-container">
              <div class="footer__footer-container--title" routerLink="/">
                <span class="text">smart</span><span class="text colored">Pubs</span>
              </div>
              <span class="footer__footer-container--text">{{ 'footer.copyright' | translate }}</span>
            </div>
          </div>
        </div>
    </mat-drawer-content>
</mat-drawer-container>