<mat-drawer-container class="container" autosize>
    <mat-drawer #drawer class="container__sidenav" mode="side">
      <p>Auto-resizing sidenav</p>
      <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
      <button (click)="showFiller = !showFiller" mat-raised-button>
        Toggle extra text
      </button>
    </mat-drawer>
    <mat-drawer-content class="container__content">
        <div class="container__content--header" [ngClass]="{'hide': router.url.startsWith('/auth')}">
          <div class="toolbar">
            <div class="toolbar__title" routerLink="/">
                <span class="toolbar__title--text">smart</span><span class="toolbar__title--text colored">Pubs</span>
            </div>
            <div class="toolbar__actions">
              <div class="toolbar__actions--dark-mode">
                <mat-icon color="primary">brightness_5</mat-icon>
                <mat-slide-toggle  color="primary" [formControl]="darkModeCtrl"></mat-slide-toggle>
                <mat-icon color="primary">bedtime</mat-icon>
              </div>
              <div class="toolbar__actions--language" #languagesMenuTrigger="matMenuTrigger" [matMenuTriggerFor]="languagesMenu">
                <div class="language-text" *ngIf="currentLanguage == 'hu'">HU</div>
                <div class="language-text" *ngIf="currentLanguage == 'ro'">RO</div>
                <mat-icon color="primary">{{languagesMenuTrigger.menuOpen ? 'arrow_drop_up' : 'arrow_drop_down'}}</mat-icon>
              </div>
              <mat-menu #languagesMenu="matMenu">
                  <div class="lang">
                      <a mat-menu-item (click)="useLanguage('ro')"><mat-icon color="primary" *ngIf="currentLanguage == 'ro'">checked</mat-icon><span class="text" [ngClass]="{'empty': currentLanguage == 'hu', 'active': currentLanguage == 'ro'}">{{ 'header.languages.ro' | translate }}</span></a>
                  </div>
                  <div class="lang">
                      <a mat-menu-item (click)="useLanguage('hu')"><mat-icon color="primary" *ngIf="currentLanguage == 'hu'">checked</mat-icon><span class="text" [ngClass]="{'empty': currentLanguage == 'ro', 'active': currentLanguage == 'hu'}">{{ 'header.languages.hu' | translate }}</span></a>
                  </div>
              </mat-menu>
              <mat-divider [vertical]="true"></mat-divider>
              <button *ngIf="(isLoggedIn | async)" class="toolbar__actions--login-button margin" routerLink="/admin" mat-button color="accent"><mat-icon color="primary">dashboard</mat-icon>{{ 'header.dashboard' | translate }}</button>
              <button *ngIf="!(isLoggedIn | async)" class="toolbar__actions--login-button" routerLink="/auth" mat-button color="accent"><mat-icon color="primary">account_circle</mat-icon><span>{{ 'header.login' | translate }}</span></button>
              <button *ngIf="(isLoggedIn | async)" class="toolbar__actions--login-button" mat-button color="accent" #profileMenuTrigger="matMenuTrigger" [matMenuTriggerFor]="profileMenu"><mat-icon color="primary">account_circle</mat-icon><span>{{ 'header.profile' | translate }}</span></button>
              <mat-menu #profileMenu="matMenu">
                <div class="profile-menu">
                    <span>{{ user?.name }}</span>
                    <span>{{ user?.email }}</span>
                    <span>{{ user?.phoneNumber }}</span>
                    <mat-divider></mat-divider>
                    <button mat-flat-button color="primary" (click)="signOut()">{{ 'header.logout' | translate | uppercase }}</button>
                </div>
              </mat-menu>
            </div>
          </div>
          <mat-progress-bar *ngIf="loading" [ngClass]="{'hide': router.url.startsWith('/auth')}" mode="indeterminate" class="loading-bar"></mat-progress-bar>
        </div>
        <div id="content" class="container__content--content" [ngClass]="{'active': router.url.startsWith('/auth')}">
          <router-outlet #outlet="outlet" (activate)="onActivate($event)"></router-outlet>
          <div class="footer" *ngIf="!router.url.startsWith('/auth')">
            <div class="footer__footer-container">
              <div class="footer__footer-container--title" routerLink="/">
                <span class="text">smart</span><span class="text colored">Pubs</span>
              </div>
              <span class="footer__footer-container--text">{{ 'footer.copyright' | translate }}</span>
            </div>
          </div>
        </div>
    </mat-drawer-content>
</mat-drawer-container>