<section class="reset-password">
    <div class="reset-password__container">
        <span class="reset-password__container--title">{{ 'reset.password' | translate }}</span>
        <span class="reset-password__container--sub-title">{{ 'reset.password.text' | translate }}</span>
        <form [formGroup]="resetPasswordForm">
            <mat-form-field appearance="outline" color="primary">
                <mat-label>{{ 'login.email' | translate }}</mat-label>
                <input matInput type="text"  formControlName="email">
                <mat-error *ngIf="resetPasswordForm.controls.email.hasError('required')">{{ 'register.error.required' | translate }}</mat-error>
                <mat-error *ngIf="resetPasswordForm.controls.email.hasError('pattern')">{{ 'register.error.email' | translate }}</mat-error>
            </mat-form-field>
        </form>
        <button mat-raised-button color="primary" (click)="resetPassword()" [disabled]="resetPasswordForm.invalid">{{ 'reset.password.send' | translate }}</button>
        <button class="stroked" mat-stroked-button color="primary" routerLink="/auth">{{ 'auth.back.button' | translate }}</button>
    </div>
</section>