@import "~@angular/material/theming";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@include mat-core();

$orange: (
    50: #FCEFE0,
    100: #F7D7B3,
    200: #F2BD80,
    300: #EDA24D,
    400: #E98E26,
    500: #E57A00,
    600: #E27200,
    700: #DE6700,
    800: #DA5D00,
    900: #D34A00,
    A100: #FFFCFB,
    A200: #FFD7C8,
    A400: #FFB395,
    A700: #FFA17B,
    contrast: (
      50: $dark-primary-text,
      100: $dark-primary-text,
      200: $dark-primary-text,
      300: $dark-primary-text,
      400: $dark-primary-text,
      500: $dark-primary-text,
      600: $dark-primary-text,
      700: $light-primary-text,
      800: $light-primary-text,
      900: $light-primary-text,
      A100: $dark-primary-text,
      A200: $dark-primary-text,
      A400: $dark-primary-text,
      A700: $dark-primary-text,
    )
);

$white: (
    50: #FFFFFF,
    100: #FFFFFF,
    200: #FFFFFF,
    300: #FFFFFF,
    400: #FFFFFF,
    500: #FFFFFF,
    600: #FFFFFF,
    700: #FFFFFF,
    800: #FFFFFF,
    900: #FFFFFF,
    A100: #FFFFFF,
    A200: #FFFFFF,
    A400: #FFFFFF,
    A700: #FFFFFF,
    contrast: (
      50: $dark-primary-text,
      100: $dark-primary-text,
      200: $dark-primary-text,
      300: $dark-primary-text,
      400: $dark-primary-text,
      500: $dark-primary-text,
      600: $dark-primary-text,
      700: $dark-primary-text,
      800: $dark-primary-text,
      900: $dark-primary-text,
      A100: $dark-primary-text,
      A200: $dark-primary-text,
      A400: $dark-primary-text,
      A700: $dark-primary-text,
    )
);

$smart-pubs-app-primary: mat-palette($orange);
$smart-pubs-app-accent: mat-palette($white);
$smart-pubs-app-warn: mat-palette($mat-red);

$smart-pubs-light-theme: mat-light-theme($smart-pubs-app-primary, $smart-pubs-app-accent, $smart-pubs-app-warn);

@include angular-material-theme($smart-pubs-light-theme);

$smart-pubs-dark-theme: mat-dark-theme($smart-pubs-app-primary, $smart-pubs-app-accent, $smart-pubs-app-warn);

.dark-mode {
  @include angular-material-color($smart-pubs-dark-theme);
  .container__content--header {
    background-color: #303030 !important;
  }
  .auth .private {
    background-color: #303030 !important;
  }
  .toolbar__actions--login-button {
    color: #FFFFFF !important;
  }
  .mat-menu-panel {
    color: #FFFFFF !important;
  }
}

$custom-typography: mat-typography-config(
  $font-family: 'Montserrat'
);

@include angular-material-typography($custom-typography);

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  color: rgba(255, 255, 255, 0.15);
}

::-webkit-scrollbar-thumb {
  background: #F2BD80;
}

::-webkit-scrollbar-thumb:hover {
  background: #E57A00;
}

.mat-form-field-outline-start, .mat-form-field-outline-end {
  border-radius: 0 !important;
}

.mat-button,
.mat-raised-button,
.mat-flat-button,
.mat-icon-button,
.mat-stroked-button {
  border-radius: 0px !important;
}