<section class="home" [ngClass]="{'active': router.url.startsWith('/auth')}">
    <div class="home__header">
        <div class="home__header--container">
            <span class="title">{{ 'home.title' | translate }}</span>
            <div class="inline-flex">
                <div class="search-container">
                    <div class="search-container__input-container">
                        <input type="text" [placeholder]="'home.search.place.holder' | translate" (keyup)="search($event.target.value)" [formControl]="searchCtrl">
                        <mat-icon color="primary">search</mat-icon>
                    </div>
                    <button class="search-container__search-button" mat-flat-button color="primary">{{ 'home.search' | translate | uppercase }}</button>
                </div>
            </div>
        </div>
    </div>
    <div class="home__content">
        <span class="home__content--title">{{ 'home.all.pubs' | translate }}</span>
        <div class="home__content--card-container" [ngClass]="{'active': pubs.length == 0}">
            <span class="empty-text" *ngIf="pubs.length == 0">{{ 'home.pubs.is.empty.1' | translate }} "<b>{{ searchCtrl.value }}</b>" {{ 'home.pubs.is.empty.2' | translate }}<b style="color: #E57A00;">{{ 'home.pubs.is.empty.3' | translate }}</b> {{ 'home.pubs.is.empty.4' | translate }}</span>
            <mat-card class="card" *ngFor="let pub of pubs" [routerLink]="'/pubs/' + pub.uid">
                <div class="card__image">
                    <img [src]="pub.imageSrc0 == null ? 'assets/images/no_image.png' : pub.imageSrc0 | safe">
                </div>
                <div class="card__details">
                    <span class="card__details--title">{{ pub.companyName }}</span>
                    <div class="card__details--container">
                        <span class="opening-hours" *ngIf="numberOfDay == 1">{{ 'home.opening.hours' | translate }}:<br>{{ pub.startingHourMonday }} - {{ pub.endingHourMonday }}</span>
                        <span class="opening-hours" *ngIf="numberOfDay == 2">{{ 'home.opening.hours' | translate }}:<br>{{ pub.startingHourTuesday }} - {{ pub.endingHourTuesday }}</span>
                        <span class="opening-hours" *ngIf="numberOfDay == 3">{{ 'home.opening.hours' | translate }}:<br>{{ pub.startingHourWednesday }} - {{ pub.endingHourWednesday }}</span>
                        <span class="opening-hours" *ngIf="numberOfDay == 4">{{ 'home.opening.hours' | translate }}:<br>{{ pub.startingHourThursday }} - {{ pub.endingHourThursday }}</span>
                        <span class="opening-hours" *ngIf="numberOfDay == 5">{{ 'home.opening.hours' | translate }}:<br>{{ pub.startingHourFriday }} - {{ pub.endingHourFriday }}</span>
                        <span class="opening-hours" *ngIf="numberOfDay == 6">{{ 'home.opening.hours' | translate }}:<br>{{ pub.startingHourSaturday }} - {{ pub.endingHourSaturday }}</span>
                        <span class="opening-hours" *ngIf="numberOfDay == 7">{{ 'home.opening.hours' | translate }}:<br>{{ pub.startingHourSunday }} - {{ pub.endingHourSunday }}</span>
                        <span class="opening-state" *ngIf="!getOpenState(pub)">{{ 'register.open.state.close' | translate }}</span>
                    </div>
                    <div class="card__details--space">
                        <span class="space-number">{{ pub.currentSpace }} / {{ pub.space }}</span>
                        <span class="space-text">{{ 'home.current.space' | translate }}</span>
                    </div>
                </div>
            </mat-card>
        </div>
        <div class="home__content--register">
            <div class="container">
                <span class="container__title">{{ 'home.register.title' | translate }}</span>
                <span class="container__text">{{ 'home.register.text' | translate }}</span>
                <div class="container__button">
                    <button mat-flat-button color="accent" routerLink="/auth/legal_register">{{ 'home.register.button' | translate | uppercase }}</button>
                </div>
            </div>
        </div>
        <div class="home__content--questions">
            <span class="question-title">{{ 'home.questions.title' | translate }}</span>
            <span class="question-text">{{ 'home.questions.text' | translate }}</span>
            <form [formGroup]="questionForm">
                <input type="text" formControlName="name" [placeholder]="'home.form.name.place.holder' | translate">
                <input type="text" formControlName="email" [placeholder]="'home.form.email.place.holder' | translate">
                <textarea formControlName="text" [placeholder]="'home.form.text.place.holder' | translate"></textarea>
            </form>
            <div class="question-button">
                <button mat-flat-button color="primary">{{ 'home.questions.button' | translate | uppercase }}</button>
            </div>
        </div>
    </div>
</section>